In [1]:
import pandas as pd

In [44]:
all_metrics = pd.read_csv('./files/CA_MetricsforMap_25_FINAL(All).csv')
all_metrics

major_metrics = pd.read_csv('./files/CA_MetricsforMap_25_FINAL(by Major).csv')

"""
I want the format 
Course ID | Dept Cd | Major | URM | First Gen | Gender Disproportionate | N | N Qrts | DFW | %DFW | Waitlist | Students | Courses Blocked | Complexity | Impact

all_metrics
Course ID | ___ | URM | etc etc | Applicant Type (Transfer vs FRFY) | etc etc

major_metrics
Course ID | Dept Cd | Breakdown | Disproportionate Impact

Create new copy of major_metrics, then group by major -> once grouped, create new columns and insert "Y" from all_metrics per major as necessary
"""

major_metrics

,Course ID,Dept Cd,Breakdown,Disproportionate Impact,N,N Qtrs w/Enrollment,Count of DFW Grades,% DFW,Avg. End Waitlist Count/Qtr,Avg. N Students Affected/Offering,N Courses Blocked,Max. Complexity,Impact Index
0,AAS10,BIOL,All,NaN,80,6,2.0,3%,1,1.0,NaN,NaN,0.0
1,AAS10,ECON,All,NaN,40,6,2.0,5%,1,1.0,NaN,NaN,0.0
2,AAS10,MATH,All,NaN,28,6,1.0,4%,1,1.0,NaN,NaN,0.0
3,AAS10,PSYC,All,NaN,43,6,2.0,5%,1,1.0,NaN,NaN,0.0
4,AAS10R,BIOL,All,NaN,23,2,NaN,NaN,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7283,WCWP10B,SIO,All,NaN,28,8,1.0,4%,16,16.0,NaN,NaN,2.0
7284,WCWP10B,SOC,All,NaN,29,8,3.0,10%,16,16.0,NaN,NaN,2.0
7285,WCWP10B,SPH,All,NaN,48,7,NaN,NaN,16,NaN,NaN,NaN,NaN
7286,WCWP10B,UNAF,All,NaN,55,8,1.0,2%,16,16.0,NaN,NaN,2.0
7287,WCWP10B,VIS,All,NaN,27,7,NaN,NaN,16,NaN,NaN,NaN,NaN

In [45]:
# set up formatting
all_metrics.rename(columns={' Gender Disproportionate Impact': 'Gender Disproportionate Impact', 'Applicant Type': 'Transfer Disproportionate Impact'}, inplace=True)
major_metrics.drop('Breakdown', axis=1, inplace=True)
major_metrics.rename(columns={'Disproportionate Impact': 'Major Disproportionate Impact'}, inplace=True)

# major_metrics.insert(loc=2, column='Major Disproportionate Impact', value='')
major_metrics.insert(loc=3, column='URM Disproportionate Impact', value='')
major_metrics.insert(loc=4, column='First Gen Disproportionate Impact', value='')
major_metrics.insert(loc=5, column='Gender Disproportionate Impact', value='')
major_metrics.insert(loc=6, column='Transfer Disproportionate Impact', value='')

all_metrics

,Course ID,URM Disproportionate Impact,First Gen Disproportionate Impact,Gender Disproportionate Impact,Transfer Disproportionate Impact,N,N Qtrs w/Enrollment,Count of DFW Grades,% DFW,Avg. End Waitlist Count/Qtr,Avg. N Students Affected/Offering,N Courses Blocked,Max. Complexity,Impact Index
0,MATH20C,Y,Y,NaN,Y,"8,377",9,"1,388",17%,3,157.0,22.0,31.0,632.0
1,MATH20B,Y,Y,NaN,Y,"6,141",9,936,15%,0,104.0,30.0,40.0,522.0
2,MATH18,Y,Y,NaN,Y,"8,483",9,"1,121",13%,8,133.0,21.0,29.0,487.0
3,MATH10A,Y,Y,NaN,NaN,"6,625",9,901,14%,2,102.0,24.0,30.0,360.0
4,PHYS2A,Y,Y,NaN,Y,"3,928",9,690,18%,1,78.0,26.0,35.0,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3900,AIP197DC,NaN,NaN,NaN,NaN,150,9,NaN,NaN,0,NaN,NaN,NaN,NaN
3901,AAS199,NaN,NaN,NaN,NaN,15,6,NaN,NaN,0,NaN,NaN,NaN,NaN
3902,AAS198,NaN,NaN,NaN,NaN,31,5,NaN,NaN,0,NaN,NaN,NaN,NaN
3903,AAS170R,NaN,NaN,NaN,NaN,33,1,NaN,NaN,1,NaN,NaN,NaN,NaN
3904,AAPI198,NaN,NaN,NaN,NaN,5,1,NaN,NaN,0,NaN,NaN,NaN,NaN

In [47]:
"""
For each class inside all_metrics, filter major_metrics for that class, then for each impact turn them all to Y if necessary
"""

for index, class_row in all_metrics.iterrows():
    if class_row['URM Disproportionate Impact'] == 'Y':
        major_metrics.loc[major_metrics['Course ID'] == class_row['Course ID'], 'URM Disproportionate Impact'] = 'Y'
    if class_row['First Gen Disproportionate Impact'] == 'Y':
        major_metrics.loc[major_metrics['Course ID'] == class_row['Course ID'], 'First Gen Disproportionate Impact'] = 'Y'
    if class_row['Gender Disproportionate Impact'] == 'Y':
        major_metrics.loc[major_metrics['Course ID'] == class_row['Course ID'], 'Gender Disproportionate Impact'] = 'Y'
    if class_row['Transfer Disproportionate Impact'] == 'Y':
        major_metrics.loc[major_metrics['Course ID'] == class_row['Course ID'], 'Transfer Disproportionate Impact'] = 'Y'

major_metrics

,Course ID,Dept Cd,Major Disproportionate Impact,URM Disproportionate Impact,First Gen Disproportionate Impact,Gender Disproportionate Impact,Transfer Disproportionate Impact,N,N Qtrs w/Enrollment,Count of DFW Grades,% DFW,Avg. End Waitlist Count/Qtr,Avg. N Students Affected/Offering,N Courses Blocked,Max. Complexity,Impact Index
0,AAS10,BIOL,NaN,,,,,80,6,2.0,3%,1,1.0,NaN,NaN,0.0
1,AAS10,ECON,NaN,,,,,40,6,2.0,5%,1,1.0,NaN,NaN,0.0
2,AAS10,MATH,NaN,,,,,28,6,1.0,4%,1,1.0,NaN,NaN,0.0
3,AAS10,PSYC,NaN,,,,,43,6,2.0,5%,1,1.0,NaN,NaN,0.0
4,AAS10R,BIOL,NaN,,,,,23,2,NaN,NaN,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7283,WCWP10B,SIO,NaN,,,,,28,8,1.0,4%,16,16.0,NaN,NaN,2.0
7284,WCWP10B,SOC,NaN,,,,,29,8,3.0,10%,16,16.0,NaN,NaN,2.0
7285,WCWP10B,SPH,NaN,,,,,48,7,NaN,NaN,16,NaN,NaN,NaN,NaN
7286,WCWP10B,UNAF,NaN,,,,,55,8,1.0,2%,16,16.0,NaN,NaN,2.0
7287,WCWP10B,VIS,NaN,,,,,27,7,NaN,NaN,16,NaN,NaN,NaN,NaN

In [50]:
major_metrics.to_csv('files/CA_MetricsforMap_25_FINAL(Metrics).csv', index=False)